:root{
    --pink: #f14e95;
    --bg:#0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);

}


body{
    font-size:1.2rem;
    font-family: 'Work Sans', sans-serif;

}


.pembatas{
    position: relative;
    min-height: 30px;
    
}


.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: url(img/background-maul.png);
    z-index: -1;
    border-radius: 0px 0px 25px 25px;
}

.hero{
    position: relative;
    min-height:50vh;
    padding-top: 140px !important;
    padding-bottom: 200px !important;
    
 
}

.hero h1, .hero h4, .hero p{
    color: black;

}
.hero h1{
    font-family: 'Sacramento',cursive;
    font-size: 6rem;
}

.hero h4{
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.4rem;
}

.hero a{
    color: #7e3a28;
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover{
    color: white;
    background-color: #7e3a28;
}

.mynavbar{
    background-color: rgba(255, 255, 255, 0.4) !important;
    -webkit-backdrop-filter: blur(5px)!important;
        backdrop-filter: blur(5px)!important;
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title{
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    font-weight: 600;
}

.home ,.pembuka , .penutup{
    background-image: url(img/background-maul.png);
    background-size: cover;
    background-position: center;
    min-height: auto;
    
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 25px;
}


.home h2,
.info h2,
.rsvp h2,
.gift h2{
    color: black;
    font-family: "Sacramento";
    font-size: 5rem;
    font-weight: bold;
}

.pembuka , .penutup h3{
    color: #444444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home ,.pembuka , .penutup p{
    font-size: 1.3rem;
    color:#333333;
    
}

.home .couple{
    margin-top: 30px;
}

.home .couple h3{
    font-family: "Sacramento";
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

.home .couple img{
    width: 100%;
}


.home .heart{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%) translateY(65px);

}

.home .heart i{
    margin:auto;
    color: #7e3a28;
}



.info{
    background-image: url(img/background-maul.png);
    background-size: cover;
    background-position: center;
    color: black;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-radius: 25px;
}


.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: black !important;
    border: 1px solid black;
}

.info .card-header{
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-top: 1px solid black;
    font-size: 1rem;
    font-weight: 300;
    color: black !important;
}

.info .btn-maps{
    color: #7e3a28;
    background-color: white;
    box-shadow: var(--shadow);
}

.info .btn-maps:hover{
    color: white;
    background-color: #7e3a28;
}

.info iframe{
    width: 100%;
    height: 200px;
}

.info i{
    font-size: 1.5rem;
}
.info span{
    font-size: 1rem;
}

.rsvp {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.rsvp p{
    font-size: 1rem;
    font-weight: 300;
}

.rsvp h2{
    font-size: 4.5rem;
}

.rsvp button{
    background-color: var(--pink);
    color: white;
    border: 3px solid var(--pink);
    
}

.rsvp button:hover{
    background-color: white;
    color: var(--pink);
    border: 3px solid var(--pink);
    
}

.gift{
    background-image: url(img/background-maul.png);
    background-size: cover;
    background-position: center;
    min-height: 80vh; 
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 25px ;
}

.gift img{
    width: 150px;

}

.gift .seabank{
    width: 200px;

}


.gift span{
    
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.gift p{
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.discus{
    background-image: url(img/background-maul.png);
    background-size: cover;
    background-position: center;
    min-height: auto; 
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 25px 25px 0px 0px ;
}

.list-group {
    --bs-list-group-color: transparent !important;
    --bs-list-group-bg: transparent !important;
    --bs-list-group-border-color:transparent !important;
}

footer{
    padding: 3rem;
    background-color: #7e3a28;
    color: white;
}

.audio-icon-wrapper{
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    color: black;
    opacity: 0.9;
    /* mix-blend-mode: difference; */
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}


@keyframes rotating {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}



.leaves {
    position: absolute;
    width: 100%;
    overflow: hidden;
}


.leaves .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

.leaves .set div{
    
    position: absolute;
    display: block;
}


.leaves .set div:nth-child(1){
    left: 20%;
    animation: animate 60s linear infinite;
    animation-delay: -7s;
}
.leaves .set div:nth-child(2){
    left: 50%;
    animation: animate 65s linear infinite;
    animation-delay: -5s;
}
.leaves .set div:nth-child(3){
    left: 70%;
    animation: animate 65s linear infinite;
    animation-delay: 0s;
}
.leaves .set div:nth-child(4){
    left: 0%;
    animation: animate 50s linear infinite;
    animation-delay: -5s;
}

.leaves .set div:nth-child(5){
    left: 85%;
    animation: animate 63s linear infinite;
    animation-delay: -10s;
}
.leaves .set div:nth-child(6){
    left: 0%;
    animation: animate 57s linear infinite;
}
.leaves .set div:nth-child(7){
    left: 15%;
    animation: animate 59s linear infinite;
}
.leaves .set div:nth-child(8){
    left: 60%;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    
    0%{
        transform: rotate(360deg);
        opacity: 0;
        top: -10%;      
    }

    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(90deg);
    }
    40%{
        transform: translateX(-20px) rotate(180deg);
    }
    60%{
        transform: translateX(20px) rotate(225deg);
    }
    80%{
        transform: translateX(-20px) rotate(270deg);
    }
    100%{
        top: 110%;
        transform: translateX(-20px) rotate(360deg);
    }

}


/* EXTRA LARGE */
@media(max-width:1200px){
    .home .heart{
        transform: translateX(-50%) translateY(45PX);
    }
   
   
   }

/* LAPTOP */
@media(max-width:992px){
 html{
    font-size: 75%;
 }

 .simply-countdown>.simply-section{
    padding: 60px;
 }




}



/* TABLET */
@media(max-width:768px){
 html{
    font-size: 65%;
 }
  .hero::before{
    background-image: url(img/background-maul-mobile.png);
}

.pembuka, .penutup{
    background-image: url(img/background-maul-mobile.png);
    padding-top: 10rem;
    min-height: auto;
}


.home{
    background-image: url(img/background-maul-mobile.png);
    padding-top: 15rem;
    min-height: 100vh;
}
.info{
    background-image: url(img/background-maul-mobile.png);
    padding-top: 20rem;
}

.gift{
    background-image: url(img/background-maul-mobile.png);
    padding-top: 20rem;
}

.discus{
    background-image: url(img/background-maul-mobile.png);
    padding-top: 20rem;
}

 .simply-countdown>.simply-section{
    padding: 50px;
    margin: 5px;
 }

 .mynavbar .nav-link{
    font-size: 1.8rem;
    text-align: center;
}
 .sticky-top{
    overflow: hidden ;
 }

 .home .heart{
    display: none;

}
.home h2, .info h2, .gift h2{
    font-size: 4rem;
    }

}



/* MOBILE */
@media(max-width:576px){
 html{
    font-size: 65%;
 }
 .simply-countdown>.simply-section{
    padding: 40px;
    margin: 3px;
 }
 .hero{
    position: relative;
    min-height:100vh;
    padding-top: 250px !important;
    padding-bottom: 200px !important;
    
 
}

.pembuka {
    background-image: url(img/background-mobile2.png);
    padding-top: 15rem;
    min-height: auto;
}
.penutup {
    background-image: url(img/background-mobile2.png);
    padding-top: 15rem;
    min-height: auto;
}

.home .couple h3{
    font-size: 2.6rem;
}


.hero h2,.home h2, .info h2, .gift h2{
    font-size: 4rem;
}

.hero::before{
    background-image: url(img/background-mobile2.png);
}

.home{
    background-image: url(img/background-mobile2.png);
    padding-top: 20rem;
    min-height: 100vh;
}
.info{
    background-image: url(img/background-mobile2.png);
    padding-top: 20rem;
}

.gift{
    background-image: url(img/background-mobile2.png);
    padding-top: 15rem;
}

.gift img{
    width: 80px;

}

.gift .seabank{
    width: 130px;

}

.discus{
    background-image: url(img/background-mobile2.png);
    padding-top: 20rem;
}

.info i{
    font-size: 1.8rem;
}
.info span{
    font-size: 1.3rem;
}

}

/* MOBILE */
@media(max-width:368px){
    html{
       font-size: 55%;
    }
    .simply-countdown>.simply-section{
       padding: 30px;
       margin: 2px;
    }
    .hero{
       position: relative;
       min-height:30vh;
       padding-top: 250px !important;
       padding-bottom: 200px !important;
       
    
   }
    
   .hero h1{
    font-size: 5rem;
   }

   .pembuka {
    padding-top: 10rem;
    }
    .penutup {
     padding-top: 15rem;
    }
    .home{
        padding-top: 20rem;
    }

   }

   /* MOBILE Z-FOLD */
@media(max-width:288px){
  
    .simply-countdown>.simply-section{
        padding: 15px;
        margin: 2px;
     }


}

